.Content {
    background: #fff;
    width: 50%;
    margin: 130px auto 40px auto;
    position: relative;
    bottom: 8em;
    height: auto;
    padding-bottom: 4em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}